<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  

      <ion-card [routerLink]="['/ulster']">
      <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg" />
      <ion-card-header>
      <ion-card-title>Ulster</ion-card-title>
      </ion-card-header>
      </ion-card>

  <ion-card [routerLink]="['/munster']">
  <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag_of_Munster.svg" />
  <ion-card-header>
    <ion-card-title>Munster</ion-card-title>
  </ion-card-header>
</ion-card>

  <ion-card [routerLink]="['/connaught']">
  <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png" />
  <ion-card-header>
    <ion-card-title>Connaught</ion-card-title>
  </ion-card-header>
</ion-card>

  <ion-card [routerLink]="['/leinster']">
  <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flag_of_Leinster.svg" />
  <ion-card-header>
    <ion-card-title>Leinster</ion-card-title>
  </ion-card-header>
</ion-card>

</ion-content>
